$primary: #333333;
$primary-light: #cfc0e0;
$secondary: #A6D6D6;
$gray-light:#787878;
$gray-dark: #787878cc;
$gray:#666;
$black: #000;
$white: #fff;
$white-01: #eee;
$border: #9a9a9a;
$error: #fc9da2;