@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  overflow: overlay;
}

a {
  text-decoration: none;
  color: #111;
}

img {
  vertical-align: middle;
}

.hide {
  display: none;
}

.navbar {
  padding: 0 3rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navbar__site {
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 1px 1px #333;
  }
  .navbar__nav {
    display: flex;
    li {
      line-height: 80px;
      font-size: 1.1rem;
      padding: 0 .6rem;
      cursor: pointer;
      transition: all .2s;
    }
    li:hover {
      color: #fff;
      background: #666;
    }
  }
}

main {
  background: #999;
  color: #fff;
  display: flex;
  justify-content: center;
  .container {
    max-width: 1200px;
    padding: 2rem;
  }
  h1, h2 {
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #111;
  }
  h1 {
    font-size: 2.5rem;
  }
}

.streams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.stream {
  width: 360px;
  color: #fff;
  background: #333;
  opacity: .9;
  margin: .5rem;
  transition: all .2s;
  img {
    width: 100%;
  }
  &.blank {
    opacity: 0;
  }
  &.blank:hover {
    opacity: 0;
  }
  .stream__info {
    display: flex;
    padding: .8rem .5rem .5rem;
  }
  .stream__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    min-width: 64px;
  }
  .stream__intro {
    display: block;
    overflow: hidden;
  }
  
  .stream__title {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }

  &:hover {
    transform: scale(1.07);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
}

.btn {
  margin-top: 2rem;
  text-align: center;
  button {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem 2rem;
  }
}

@media(max-width: 1300px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding-right: 0;
    padding-left: 0;
    .navbar__site {
      font-size: 3rem;
      margin: 2rem 0;
    }
    .navbar__nav {
      width: 100%;
      flex-direction: column;
      line-height: auto;
      text-align: center;
      li {
        font-size: 1.6rem;
      }
    }
  }
}