* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  margin: 3rem auto 1rem;
  position: relative;
  width: 500px;
  overflow: hidden;
  border: 3px solid #000;
}

.container {
  position: relative;
  width: 5000px;
  height: 300px;
  -webkit-transition: left 1s .2s;
  transition: left 1s .2s;
}

.container > li {
  width: 500px;
  height: 300px;
  float: left;
  font-size: 5rem;
  line-height: 300px;
  text-align: center;
}

.nav {
  position: absolute;
  width: 30px;
  height: 50px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #111;
  cursor: pointer;
}

.nav:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 25px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.nav.prev {
  left: 0;
}

.nav.prev:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav.next {
  right: 0;
}

.nav.next:after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.hide {
  display: none;
}

.small-pic {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.small-pic li {
  position: relative;
  cursor: pointer;
}

.small-pic li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #aaa;
  opacity: .6;
  z-index: 2;
}

.small-pic li.active::after {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.small-pic img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.play-btn {
  display: block;
  padding: 8px 16px;
  margin: 0 auto;
  font-size: 20px;
}
