@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,500,700,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

html,
body {
  background: #f7f1f1;
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

#app {
  margin: 4rem auto;
  padding: 2rem 3rem 0;
  max-width: 500px;
  background: #6a89cc;
  color: #fff;
  box-shadow: 20px -20px 0px 0px rgba(100, 100, 100, 0.1);
  h1 {
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 0.6rem;
    border-bottom: 1px solid #ccc;
  }
  span {
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 0.7rem;
    margin-top: 0.2rem;
  }
  .form {
    margin: 2rem 0 3rem;
    display: flex;
    justify-content: space-between;
    input,
    button {
      font-size: 1.2rem;
      padding: 0.4rem 0.8rem;
      outline: none;
      border: none;
      flex-grow: 1;
    }
    input {
      width: 60%;
    }
    button {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      font-size: 1rem;
      cursor: pointer;
      box-sizing: border-box;
      &:hover {
        background: #333;
        transition: all 0.5s;
      }
      &:active {
        transform: scale(1.05);
      }
    }
  }
  .filter-btn {
    margin: 2rem 0;
    display: flex;
    button {
      flex: 1;
      padding: 0.5rem 0;
      font-size: 1.1rem;
      color: #555;
      border: 1px solid #ccc;
      // border: none;
      cursor: pointer;
      &.active,
      &:hover {
        background: #f9ca24;
        color: #333;
      }
    }
  }
  .list {
    margin: 3rem 0 1.5rem;
    li {
      margin: 0 -3rem 4px;
      padding: 1.1rem 3rem;
      background: rgba(255, 255, 255, 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover {
        background: rgba(255, 255, 255, 0.25);
      }
    }
    .content {
      max-width: 65%;
      h3 {
        font-size: 1.3rem;
        font-weight: 500;
        word-break: break-all;
        &.done {
          opacity: 0.4;
          text-decoration: line-through;
        }
      }
      input {
        max-width: 90%;
        font-size: 1.1rem;
        padding: 0.1rem;
        display: none;
      }
      &.editing {
        h3 {
          display: none;
        }
        input {
          display: block;
        }
      }
    }
    .action {
      display: flex;
      align-items: center;
      button {
        outline: none;
        border: none;
        background: transparent;
        margin: 0 0.5rem;
        color: #fff;
        font-size: 1.5rem;
        margin-top: -0.4rem;
        cursor: pointer;
        &:first-child {
          transform: translateY(2%) scale(1.05);
        }
        &:last-child {
          transform: translateY(-1%) scale(1.05);
        }
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  .items-len {
    font-size: 1.2rem;
    font-weight: 500;
    span {
      font-size: 1.2rem;
      font-weight: 500;
      display: inline-block;
    }
  }
  footer {
    letter-spacing: 0.05rem;
    background: #6a89cc;
    text-align: center;
    margin-top: 3rem;
    padding: 0.1rem 0.5rem;
    span {
      color: #fff;
    }
    a {
      color: #ddd;
      text-decoration: none;
      font-style: italic;
    }
  }
}
